* {
    /*sets font and background color for full page*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

header {
    width: 100%;
}

h1 {
    padding: 10px 20px;
    color: #01796f; /*forest green*/
}

nav {
    text-align: right;
    border-bottom: 3px solid darkgrey;
    padding-bottom: 10px;
}

header nav {
    border-top: 10px solid saddlebrown;
    padding-top: 40px;
}

nav a {
    padding: 10px;
    font-weight: bold; /*bolds link text*/
    font-size: larger;
}

header a {
    color: black;
    text-decoration: none;
}

section {
    margin-left: 5vw;
    position: relative; /*allows for absolute positioning of child elements*/
    
}

section h2 {
    position: absolute; /*allows section headings to be positioned relative to their parent elements*/
    
}

.about {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap; /*items in the section are displayed side by side instead of one under the other at full screen width*/
}

.about h2 {
    top: 0vh;
    left: -5vw;
    /*heading is positioned at the top and to the left of the section*/
}

.about img {
    width: 21vw;
    margin-top: 40px;
    padding-left: 20px;
}

.about h3 {
    border: 5px solid lawngreen;
    border-radius: 25px;
    padding: 20px;
    margin-left: 50px;
    height: 20%;
    width: 50%;
}

.work {
    margin: 80px;
    padding: 25px;
    width: 65vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    left: 10vw;
    border-width: 5px;
    border-style: solid;
    border-color: darkgreen;
}


div {
    position: relative; /*div element position is set to relative to allow for absolute positioning of child elements*/
    text-align: center;
}

/*sizes images in work section and makes them slightly transparent*/
.work img {
    height: 50vh;
    width: 27vw;
    margin: 5px;
    opacity: .75;
}

/*images in work section will have a border and become opaque on hover*/
.work img:hover {
    border: 5px solid darkblue;
    opacity: 1;
} 

/*first image in work section*/
.top img {
    width: 60vw;
}

.work h2 {
    left: -10vw;
    top: -10vh; 
    /*negative values move the heading left and up relative to the section*/
}

.work h3 {
    background-color: grey;
    border: 2px solid orange;
    position: absolute; /*headings in work section are absolutely positioned to overlay over images*/
    left: 5%;
    top: 0%;
    width: 50%;
    padding: 5px;
}

/*heading for top image is positioned independently to adjust for different image dimensions*/
.top h3 {
    left: 20%;
    top: 15%;
}

/*makes layout responsive to screen size*/
@media screen and (max-width: 992px) {
    .about {
        flex-wrap: wrap; /*heading wraps under image in about section*/
    }

    .about img {
        width: 41vw;
    }

    .about h3 {
        width: 100%;
        margin-left: 20px;
        /*resizes heading and image in about section to remain legible*/
    }
   
    .work {
        margin: 80px 0; /*keeps the work images centered*/
    }
    .work img {
        width: 60vw; /*resizes work images to stack*/
    }
    
}

footer {
    padding-top: 20px;
    border-top: 10px solid saddlebrown;
    /*styling for nav and anchor elements in the footer comes from nav and nav a styling further up*/
}

